# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Firebase/generated local secrets
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
firebase_app_id_file.json

# Environment
.env
